/* Colors */
/* color: #eeeeee headers */
/* color: #cde8f6 ligh blue header hove */
/* color: #d195f9 ligh purple secondary*/
/* color: #0033c7 blue primary text on header */

/* Header */
.header{
	width: 100%;
	background-color:#eeeeee;
	padding: 5px;
	display: flex;
	flex-direction: row;
}
.item{
	padding: 5px;
	color: #0033c7;
	text-decoration: none;
}
.item:hover {
	/* text-decoration: underline; */
	background-color: #cde8f6;
}

/* Homepage */
.homepageContainer{
	background-color: #cde8f6;
}
.title{
	text-align: center;
}
.subtitle{
	text-align: center;

}
.miniTitle{

}
.category{
	border: 1px solid black;
}
.selected{
	background-color: grey;
}
.category:hover{
	background-color: grey;
}
.primaryButtonContainer{
	text-align: right;
}
.primaryButton{
	/* width: 50%; */
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: #d195f9;
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin:  5px;
	margin-right: 20px;
}
.primaryButton:hover{
	background-color: #d135f9;

}